html,body,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,fieldset,legend,img,ul,ol,li,dl,dt,dd,th,td,pre,blockquote{margin:0;padding:0}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;font-size: 100px;}
/*0.14rem===14px*/
body{font:0.14rem PingFangSC-Regular, "Helvetica Neue", "Microsoft Yahei",'微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight:rgba(0,0,0,0);background:#f3f6f8;color:#000;-webkit-overflow-scrolling:touch;}
img,fieldset{border:0;}
input,button,select,textarea{padding:0;margin:0;outline:none;}
input[type="submit"],input[type="button"],input[type="text"],button{-webkit-appearance:none;outline:none;}
a{text-decoration:none;color:#333;}
ul,li,ol{list-style:none}
table{/*border-collapse: collapse;*/border-spacing: 0;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden;}
.clearfix::after{content:"\200B";display:block;height:0;clear:both;}
.clearfix{*zoom:1;}
.l{float:left;}
.r{float:right;}
/*flex布局*/
.yt{display:-webkit-flex;display: flex;}
.yt-f1{position: relative;-webkit-flex: 1;flex: 1;}
.yt-f2{position: relative;-webkit-flex: 2;flex: 2;}
.yt-f3{position: relative;-webkit-flex: 3;flex: 3;}
.yt-f4{position: relative;-webkit-flex: 4;flex: 4;}
.yt-f5{position: relative;-webkit-flex: 5;flex: 5;}
.yt-1f2{-webkit-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.yt-1f3{-webkit-flex: 0 0 33.333%;flex: 0 0 33.333%;max-width: 33.333%;}
.yt-1f4{-webkit-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.yt-1f5{-webkit-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
.yt-pc{-webkit-justify-content: center;justify-content: center;}
.yt-pe{-webkit-justify-content: flex-end;justify-content: flex-end;}
.yt-pj{-webkit-justify-content: space-between;justify-content: space-between;}
.yt-pja{-webkit-justify-content: space-around;justify-content:space-around;}
.yt-ac{-webkit-align-items: center;align-items: center;}
.yt-ae{-webkit-align-items: flex-end;align-items: flex-end;}
.yt-pac{-webkit-justify-content: center;justify-content: center;-webkit-align-items: center;align-items: center;}
.yt-ver{-webkit-flex-direction: column;flex-direction: column;}
.yt-bm{-webkit-flex-wrap: wrap;flex-wrap: wrap;}
.yt-self-start{-webkit-align-self:flex-start;align-self:flex-start;}
.yt-self-end{-webkit-align-self:flex-end;align-self:flex-end;}
.yt-self-stretch{-webkit-align-self:stretch;align-self:stretch;}
.yt-self-center{-webkit-align-self:center;align-self:center;}
/*flex布局end*/

.mgl5{margin-left:5px;}

.search-wrap{width:1280px;margin:0 auto;padding-top:20px;}

.ipt-baidu{border:1px solid #ccc;padding:9px 10px;height:20px;font-size:16px;letter-spacing:1px;}
.btn-blue{background-color:#38f;color:#fff;width:100px;padding:10px;height:40px;border:none;cursor:pointer;}
.btn-blue:hover{background-color:#317ef3;}
.btn-bing{background-color:#007daa;color:#fff;width:100px;padding:10px;height:40px;border:none;cursor:pointer;}
.btn-bing:hover{background-color:#026b91;}


.box-wrap{box-sizing:border-box;width:1280px;margin:20px auto;padding:10px;background-color:#fff;border-radius:2px;box-shadow:0 3px 11px  rgba(0,0,0,0.2);}
.panel-head{padding:0 0 8px 0;font-size:16px;color:#4d4d4d;border-bottom:1px solid #e4ecf3;}
.panel-body{padding-top:5px;font-size:0;}
.link-item{display:inline-block;box-sizing:border-box;width:12.5%;line-height:1;font-size:14px;padding:8px 0 8px 5px;vertical-align:middle;color:#333;}
.link-item:hover{background-color:#f5f5f5;color:#00ad35;}
.link-item-favicon,.link-item-nofav{display:inline-block;vertical-align:middle;width:16px;height:16px;margin-right:3px;}
.link-item-nofav{background:url('https://ss0.bdstatic.com/k4oZeXSm1A5BphGlnYG/icon/6000.png');}

.wrap-note{width:540px;position:fixed;right:10px;top:10px;display:none;}
.note-item{border-bottom:1px solid #f8f8f8;background-color:#fff;padding:10px 0 10px 10px;}
.note-list{max-height:770px;overflow:auto;}
.btn-del{padding:0 10px;}
.btn-del:hover{color:#e00;cursor:pointer;}
.note-cont{word-break: break-all}
.note-input{width:100%;height:40px;line-height:40px;border:1px solid #38f;box-sizing:border-box;padding:10px;margin-top:10px;}
.btn-note-add{width:100%;height:40px;font-size:20px;line-height:40px;border:none;text-align:center;color:#fff;background-color:#9b59b6;margin-top:10px;cursor:pointer;}
.popicon{position:fixed;bottom:10px;right:10px;opacity:1;width:58px;height:58px;line-height:58px;color:#fff;background-color:#38f;text-align:center;border-radius:50%;opacity:0.1;font-size:16px;cursor:pointer;}
.popicon:hover{opacity:1;}
.gopage{position:fixed;top:80px;right:0px;width:70px;height:40px;line-height:40px;color:#fff;background-color:#38f;text-align:center;font-size:16px;cursor:pointer;border-radius:9999px 0 0 9999px;padding-left:5px;}
.gopink{background-color:#ff78a9;}